*swp
.DS_Store
camb.mod/
camb.new/
camb.old/
camb/camb
camb/camb_jan12
camb/camb_oct12
camb/flatten_dat.py
camb/scalar_output_file
cambdiff/
test_client/all_projects_list.xml
test_client/boinc
test_client/client_state.xml
test_client/client_state_prev.xml
test_client/daily_xfer_history.xml
test_client/gui_rpc_auth.cfg
test_client/job_log_test.test.txt
test_client/lockfile
test_client/notices/
test_client/time_stats_log
test_standalone/boinc_finish_called
test_standalone/camb
test_standalone/lensed_cls.txt
test_standalone/scalar_cls.txt
test_standalone/scalar_output_file
test_standalone/stderr.txt
